@import "../core/variables.scss";

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 270px;
	width: 200px;
	background-color: rgb(15, 15, 15);
	margin-bottom: 65px;
	color: $color-light;
	border-radius: 15px;
	box-shadow: 0 14px 39px -12px #000;
	transition: transform 0.5s linear;

	@media all and (min-width: 500px) {
		width: 250px;
		height: 310px;
	}

	&:hover {
		background-color: $opacityblue;
		cursor: pointer;
		transform: scale(1.1);
		color: $color-green;
	}

	&__image {
		width: 170px;
		border-radius: 100%;
		transform: translateY(-30px);
		box-shadow: 0 4px 50px -10px #69ff4b;

		@media all and (min-width: 500px) {
			height: auto;
			width: 200px;
			transform: translateY(-40px);
			// box-shadow: 0 14px 39px -12px #000;
			box-shadow: 0 8px 50px -10px #69ff4b;
		}
	}

	&__name {
		font-size: 24px;
		max-width: 250px;
		text-align: center;
	}

	&__species {
		font-size: 1.2rem;
		color: $color-terciary;
	}
}

.cards-container {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 90px;

	@media (min-width: 500px) {
		grid-template-columns: repeat(auto-fill, 250px);
		grid-gap: 20px;
	}
	@media all and (min-width: 900px) {
		max-width: 800px;
	}
}

.cards-section {
	overflow-y: scroll;
	height: 610px;
	margin-top: 60px;
	scroll-behavior: smooth;
	background-color: rgb(12, 12, 12);
	border-radius: 20px;
	padding: 15px;
	// box-shadow: 0 4px 90px -10px #69ff4b;
	@media (min-width: 600px) {
		overflow-y: scroll;
		scroll-behavior: smooth;

		&::-webkit-scrollbar {
			padding-left: 5px;
			width: 4px;
			height: 1px;
			background: $color-green;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $blackopacity;
		}
	}
}
