@import "../core/variables.scss";

.form-section {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.735);
	margin-top: 30px;
	padding-bottom: 50px;

	&__filters {
		border: none;
		padding-top: 10px;
		@media all and (min-width: 768px) {
			display: inline-block;
			padding-bottom: 10px;
			max-width: 1200px;
			padding-right: 10px;
		}
	}
	&__container {
		@media all and (min-width: 768px) {
			display: grid;
			grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
			justify-items: center;
			grid-gap: 20px;
			margin-left: 20px;
		}
		@media all and (min-width: 1200px) {
			grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
			justify-items: center;
			grid-gap: 20px;
		}
	}
	&__label {
		display: flex;
		color: $color-light;
		font-size: 24px;
	}
	&__input {
		font-family: $font-main;
		width: 280px;
		height: 45px;
		background-color: $blackopacity;
		border: 3px solid $color-secondary;
		border-radius: 35px;
		font-size: 1.3rem;
		padding: 13px 10px 10px;
		color: $color-green;
		margin-right: 5px;

		@media all and (min-width: 768px) {
			width: 300px;
		}

		@media all and (min-width: 1200px) {
			width: 300px;
			display: inline-block;
		}
		&:focus {
			outline: 0 none;
			border-radius: 22px;
			background-color: $color-secondary;
			color: $color-green;
		}
		&::placeholder {
			color: $color-light;
		}
	}

	&__select {
		font-family: $font-main;
		width: 280px;
		display: block;
		height: 45px;
		font-size: 1.2rem;
		background-color: $blackopacity;
		color: $color-light;
		border: 3px solid $color-secondary;
		border-radius: 35px;
		padding: 6px 15px 0;
		cursor: pointer;
		@media all and (min-width: 768px) {
			width: 130px;
		}

		&:focus {
			border: 2px solid $color-secondary;
			outline: 0 none;
			font-family: $font-main;
		}
	}
}
.sortByName {
	@media all and (min-width: 768px) {
		width: 140px;
	}
	&__filter {
		display: inline-block;
		border-radius: 10px;
		text-transform: capitalize;
		font-size: 24px;
		padding-right: 5px;
	}
}
.resetbtn {
	color: white;
	font-size: 20px;
	border: 2px solid $color-secondary;
	border-radius: 10px;
	padding: 0 7px 0 5px;
	background-color: $color-secondary;
	height: 35px;
	margin-top: 10px;
	font-family: $font-main;
	@media all and (min-width: 768px) {
		width: fit-content;
		grid-area: 2 / 2 / 3 / 4;
	}
	&:hover {
		background-color: $color-secondary;
		cursor: pointer;
		transform: scale(1.1);
	}
	&:focus {
		outline: 0 none;
	}
}
.fa,
.fas {
	padding: 5px 0 5px 5px;
}

.status-checkbox {
	border-radius: 10px;
	text-transform: capitalize;
	padding-right: 5px;

	&__label {
		display: flex;
		font-size: 24px;
		padding-right: 5px;
	}
	&__container {
		margin-top: 10px;
		width: 240px;
		border-radius: 5px;
		font-size: 18px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		@media all and (min-width: 768px) {
			font-size: 20px;
			width: 110px;
		}
	}
	&__input {
		margin-right: 5px;
		margin-left: 5px;
	}
}
