@import "../core/variables.scss";

.form-section {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		border: none;
		@media all and (min-width: 768px) {
			padding-bottom: 10px;
		}
		// @media all and (min-width: 1200px) {
		// 	// display: inline-block;
		// 	max-width: 1200px;
		// }
	}
	&__label {
		display: inline-block;
		color: $color-light;
		font-size: 24px;
	}
	&__input {
		font-family: $font-main;
		width: 280px;
		height: 35px;
		background-color: $blackopacity;
		border: 3px solid $color-secondary;
		border-radius: 15px;
		font-size: 1.3rem;
		padding: 13px 10px 10px;
		color: $color-green;
		margin-right: 5px;

		@media all and (min-width: 768px) {
			width: 450px;
		}

		@media all and (min-width: 1200px) {
			width: 450px;
			display: inline-block;
		}
		&:focus {
			outline: 0 none;
			border-radius: 22px;
			background-color: $color-secondary;
			color: $color-green;
		}
		&::placeholder {
			color: $color-light;
		}
	}

	&__select {
		font-family: $font-main;
		width: 280px;
		display: block;
		height: 35px;
		font-size: 1.2rem;
		background-color: $blackopacity;
		color: $color-light;
		border: 3px solid $color-secondary;
		border-radius: 15px;
		padding: 3px;
		cursor: pointer;
		@media all and (min-width: 768px) {
			width: 445px;
		}

		&:focus {
			border: 2px solid $color-secondary;
			outline: 0 none;
			font-family: $font-main;
		}
	}
}
.resetbtn-icon {
	color: $color-green;
	font-size: 12px;
	border: 3px solid $color-secondary;
	border-radius: 60%;
	padding: 5px;
	margin-top: 10px;
	&:hover {
		background-color: $color-secondary;
		cursor: pointer;
		color: $color-green;
	}
}

.status-checkbox {
	display: inline-block;
	font-size: 20px;
	padding: 1px 5px 1px;
	background-color: black;
	border-radius: 10px;
	margin: 2px;

	&__label {
		display: inline-block;
		font-size: 22px;
		padding-right: 15px;
	}
}

.status-checkbox__container {
	margin-top: 10px;
	width: 320px;
}
