@import "../core/variables.scss";

.form-section {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;

	&__container {
		border: none;

		@media all and (min-width: 1200px) {
			padding-bottom: 10px;
		}

		@media all and (min-width: 1200px) {
			display: inline-block;
			max-width: 1200px;
		}
	}
	&__label {
		display: inline-block;
		color: $color-light;
		margin-top: 20px;
		font-size: 24px;
		margin-right: 10px;
	}
	&__input {
		display: block;
		margin-bottom: 8px;
		width: 290px;
		height: 35px;
		background-color: $opacityblue;
		border: 3px solid $color-green;
		border-radius: 15px;
		font-size: 1rem;
		padding: 0 10px;
		color: $color-green;
		// box-shadow: 2px 1px 2px $color-green;

		@media all and (min-width: 768px) {
			width: 450px;
		}

		@media all and (min-width: 1200px) {
			width: 350px;
			display: inline-block;
			margin-right: 25px;
		}
		&:focus {
			outline: 1px solid $color-light;
			border-radius: 22px;
			background-color: $color-secondary;
			color: $color-green;
		}
		&::placeholder {
			color: $color-light;
		}
	}

	&__select {
		width: 290px;
		display: block;
		height: 35px;
		margin-bottom: 8px;
		font-size: 1rem;
		background-color: $opacityblue;
		color: $color-light;
		border: 3px solid $color-green;
		border-radius: 15px;
		padding: 3px;
		box-shadow: 1px 1px 1px $color-green;
		cursor: pointer;

		@media all and (min-width: 768px) {
			width: 450px;
		}

		@media all and (min-width: 1200px) {
			width: 350px;
			display: inline-block;
			margin-right: 15px;
		}

		&:focus {
			border: 2px solid $color-secondary;
		}
	}
}

.resetbtn-container {
	display: flex;
	justify-content: flex-end;
}

.resetbtn-icon {
	color: $color-green;
	font-size: 20px;
	border: 4px solid $color-secondary;
	border-radius: 50%;
	padding: 5px;
	margin-top: 10px;
	&:hover {
		background-color: $color-secondary;
		cursor: pointer;
		transform: scale(1.1);
		color: $color-green;
		transition: transform 0.5s linear;
	}
}
