@import "../core/variables.scss";

.notFound-container {
	margin-top: 50px;
	grid-column: 1/5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #00000082;
	padding: 30px;
	&__text {
		text-align: center;
		font-size: 27px;
		@media all and (min-width: 600px) {
			font-size: 30px;
		}
		&--search {
			color: $color-green;
			font-size: 27px;
			@media all and (min-width: 600px) {
				font-size: 30px;
			}
		}
	}
	&__subtext {
		font-size: 24px;
		@media all and (min-width: 600px) {
			font-size: 27px;
		}
	}

	&__img {
		width: 200px;
		border: 5px solid $color-green;
		border-radius: 50%;
		margin-bottom: 90px;
		@media all and (min-width: 680px) {
			width: 300px;
		}
	}
}
