* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	height: 100vh;
	font-family: "Open Sans Condensed", sans-serif;
	font-family: "Pompiere", cursive;
	font-family: "Ravi Prakash", cursive;
	margin: 0;
}
