//Fonts
$font-main: "Ravi Prakash", cursive;
$font-secondary: "Pompiere", cursive;

//Colors
$color-main: black;
$blackopacity: rgba(0, 0, 0, 0.762);
$color-secondary: #62a4ab;
$opacityblue: #62a4abc6;
$color-terciary: #d8f496;
$color-light: white;
$color-green: rgb(105, 255, 75);

//Font colors
$color-font-main: white;
$color-font-seconday: #62a4ab;
