//Fonts
$font-main: "Ravi Prakash", cursive;
$font-secondary: "Pompiere", cursive;

//Colors
$color-main: black;
$color-secondary: #62a4ab;
$color-terciary: #c0dca4;
$color-light: white;

//Font colors
$color-font-main: white;
$color-font-seconday: #62a4ab;
